<% products = [
  {img: "p01.png",brand: "Samsung", name: "Galaxy S6 Edge", price:"32,000"},
  {img: "p02.png",brand: "Samsung", name: "Galaxy V",       price:"16,000"},
  {img: "p02.png",brand: "Samsung", name: "Galaxy S6 Edge", price:"32,000"},
  {img: "p02.png",brand: "Samsung", name: "Galaxy S6 Edge", price:"32,000"},
  {img: "p02.png",brand: "Samsung", name: "Galaxy S6 Edge", price:"32,000"},
  {img: "p02.png",brand: "Samsung", name: "Galaxy S6 Edge", price:"32,000"},
  {img: "p02.png",brand: "Samsung", name: "Galaxy S6 Edge", price:"32,000"},
  {img: "p02.png",brand: "Samsung", name: "Galaxy S6 Edge", price:"32,000"},
  ]%>

<section class="products">
  <div class="container">
    <%= render partial: "product", collection: products %>
  </div>
</section>
<article class="">

</article>