<% products = [
  {img: "p01.png",brand: "Samsung", name: "Galaxy S6 Edge", price:"32,000"},
  {img: "p02.png",brand: "Samsung", name: "Galaxy V",       price:"16,000"},
  {img: "p02.png",brand: "Samsung", name: "Galaxy S6 Edge", price:"32,000"},
  {img: "p02.png",brand: "Samsung", name: "Galaxy S6 Edge", price:"32,000"},
  {img: "p02.png",brand: "Samsung", name: "Galaxy S6 Edge", price:"32,000"},
  {img: "p02.png",brand: "Samsung", name: "Galaxy S6 Edge", price:"32,000"},
  {img: "p02.png",brand: "Samsung", name: "Galaxy S6 Edge", price:"32,000"},
  {img: "p02.png",brand: "Samsung", name: "Galaxy S6 Edge", price:"32,000"},
  ]%>

<section class="menu-products">
  <div class="container">
    <%= render partial: "product", collection: products %>
  </div>
</section>
<article class="product-one">
  <div class="header">
    <div class="title">
      <div class="wrapper">
        <h1>Samsung Galaxy S6 Edge</h1>
        <div class="description">
          <div class="os">OC: <span class="name">Android</span></div>
          <div class="dimm">Память: <span class="name">32gb</span></div>
        </div>
      </div>
    </div>
    <div class="image-product">
      <%= image_tag 'main-product.png' %>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <div class="description">
        <div class="links">
          <a href="#" class="link active">Обзор</a>
          <a href="#" class="link">
            Фотографии (<span class="count">16</span>)
          </a>
        </div>
        <div class="text">
          <p>Флагман 2015 года создавался с двумя целями – традиционно чтобы составить конкуренцию текущей модели iPhone, в нашем случае это iPhone 6, а также частично реабилитировать линейку Galaxy после довольно вялых продаж Galaxy S5, который многие восприняли как шаг в сторону. В Samsung сделали в S5 упор на защиту от воды, наличие стандарта IP67, но оказалось, что для потребителей эти функции не очень важны, они скорее обращают внимание на имиджевую составляющую. А она для телефонов Samsung традиционно ниже, чем для iPhone. Как результат, продажи Galaxy S5 оказались хорошими, но весьма далекими от внутренних планов компании. Достаточно сказать, что Galaxy S5 был самым продаваемым флагманом на Android среди всех телефонов, но до уровня продаж iPhone он не дотягивал.</p>
          <h2>Дизайн, размеры, управляющие элементы</h2>
          <p>Телефон получился компактным для такой диагонали экрана, его размеры – 143.4x70.5x6.8 мм, вес – 138 грамм (для сравнения, S6 EDGE – 142.1х70.1х7 мм, 132 грамма). Хорошо ложится в руку, не проскальзывает.</p>
          <img src="<%= asset_url('product01.jpg')%>">
          <p>Телефон получился компактным для такой диагонали экрана, его размеры – 143.4x70.5x6.8 мм, вес – 138 грамм (для сравнения, S6 EDGE – 142.1х70.1х7 мм, 132 грамма). Хорошо ложится в руку, не проскальзывает.</p>
        </div>

      </div>
      <div class="sidebar">
        <div class="shop"></div>
      </div>
    </div>
  </div>
</article>