header {
  .logo{
    color: #000000;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin-top: 24px; margin-bottom: 30px;
  }
  .menu {
    margin-bottom: 8px;
    .product {
      font-weight: 200;
      display: inline-block;
      padding: 3px 10px 5px;
      line-height: 19px;
      text-decoration: underline;
      &.active {
        font-weight: 400;
        background-color: $brand-primary;
        color: #ffffff;
      }
    }
  }
}