//== Typography
//
$font-family-sans-serif:  "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

//** Global text color on `<body>`.
$text-color:               #696969 !default;

//** Global textual link color.
$link-color:               #5F87CD !default;

//== Colors
//
$brand-primary:            #FFA768 !default;
