<header class="container">
  <div class="logo">mobile-rw.ru</div>
  <nav class="menu">
    <a href="#" class="brand active">Samsung</a>
    <a href="#" class="brand">Lenovo</a>
    <a href="#" class="brand">HTC</a>
    <a href="#" class="brand">Microsoft</a>
  </nav>
</header>