<header class="container">
  <div class="logo">mobile-rw.ru</div>
  <nav class="menu">
    <a href="#" class="product active">Samsung</a>
    <a href="#" class="product">Lenovo</a>
    <a href="#" class="product">HTC</a>
    <a href="#" class="product">Microsoft</a>
  </nav>
</header>